table {
    border-collapse: collapse;
    width: 100%;
}

table a {
    color: green;
    text-decoration: underline;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eaeaec;
}

.tl_file div .image-status-red {
    background: url('../images/ur_criss_cross.svg') no-repeat right 0 top 2px;
    background-size: 16px;
    margin-top: 10px;
    height: auto;
    font-size: 15px;
    padding-right: 22px;
    line-height: 1.2;
    white-space: normal;
}

div .image-status-green {
    margin-top: 20px;
    height: auto;
    font-size: 13px;
}

div .tl_right {
    text-align: right;
    max-width: 50%;
}

.ur_sync {
    background-image: url('../images/ur_sync.svg');
    padding: 3px 0 3px 21px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 15px;
}

